<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="homePage :: header"></head>
<body>
<div th:replace="homePage :: idEntryForm"></div>
<div id="results">
	<header th:text="'Address Book #' + ${id}"/>
	<table>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Phone</th>
		</tr>
		<th:block th:each="buddy : ${list}">
			<tr>
				<td th:text="${buddy.name}"></td>
				<td th:text="${buddy.address}"></td>
				<td th:text="${buddy.phone}"></td>
			</tr>
		</th:block>
	</table>
	<form id="addBuddy" action="/addBuddy">
		Name: <input id=nameInput type="text" name="buddyName"><br>
		Phone: <input id=phoneInput type="text" name="buddyPhone"><br>
		Address: <input id=addressInput type="text" name="buddyAddress"><br>
		<input type="submit" value="Add Buddy">
	</form>
</div>
</body>
</html>