<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>Admin Menu</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script th:src="@{/js/address.js}"></script>
</head>
<body>
<div id="RadioForm">
    <h1>Please Select an Option</h1>
    <form id="radioSet">
        <input type="radio" name="funcType" value="newCourse" onClick="funcPrep(1)">newCourse<br>
        <input type="radio" name="funcType" value="delCourse" onClick="funcPrep(1)">delCourse<br>
        <input type="radio" name="funcType" value="addCourseOutcome" onClick="funcPrep(2)">addCourseOutcome<br>
        <input type="radio" name="funcType" value="viewCourse" onClick="funcPrep(1)">viewCourse<br>
        <input type="radio" name="funcType" value="viewCourses" onClick="funcPrep(0)">viewCourses<br>
        <input type="radio" name="funcType" value="newCat" onClick="funcPrep(1)">newCat<br>
        <input type="radio" name="funcType" value="delCat" onClick="funcPrep(1)">delCat<br>
        <input type="radio" name="funcType" value="addCatOutcome" onClick="funcPrep(2)">addCatOutcome<br>
        <input type="radio" name="funcType" value="viewCat" onClick="funcPrep(1)">viewCat<br>
        <input type="radio" name="funcType" value="viewCats" onClick="funcPrep(0)">viewCats<br>
        <input type="radio" name="funcType" value="newProg" onClick="funcPrep(1)">newProg<br>
        <input type="radio" name="funcType" value="delProg" onClick="funcPrep(1)">delProg<br>
        <input type="radio" name="funcType" value="addProgCalender" onClick="funcPrep(2)">addProgCalender<br>
        <input type="radio" name="funcType" value="addProgAcademic" onClick="funcPrep(2)">addProgAcademic<br>
        <input type="radio" name="funcType" value="viewProg" onClick="funcPrep(1)">viewProg<br>
        <input type="radio" name="funcType" value="viewProgs" onClick="funcPrep(0)">viewProgs<br>
        <input type="radio" name="funcType" value="newObjective" onClick="funcPrep(2)">newObjective<br>
        <input type="radio" name="funcType" value="delObjective" onClick="funcPrep(1)">delObjective<br>
        <input type="radio" name="funcType" value="viewObjective" onClick="funcPrep(1)">viewObjective<br>
        <input type="radio" name="funcType" value="viewObjectives" onClick="funcPrep(0)">viewObjectives<br>
        <input type="radio" name="funcType" value="viewObjectiveCourses" onClick="funcPrep(1)">viewObjectiveCourses<br>
        <input type="radio" name="funcType" value="newCalender" onClick="funcPrep(1)">newCalender<br>
        <input type="radio" name="funcType" value="delCalender" onClick="funcPrep(1)">delCalender<br>
        <input type="radio" name="funcType" value="newAcademic" onClick="funcPrep(1)">newAcademic<br>
        <input type="radio" name="funcType" value="delAcademic" onClick="funcPrep(1)">delAcademic<br>
    </form>
</div>

<div id="input1" style="visibility:hidden">
    <p id="p1">Please enter the</p>
    <form id="firstPara">
        <input type="text" id="para1" name="parameter1" value="parameter1">
    </form>
</div>

<div id="input2" style="visibility:hidden">
    <p id="p2">Please enter the</p>
    <form id="secondPara">
        <input type="text" id="para2" name="parameter2" value="parameter2"><br>
    </form>
</div>

<div id="SubForm">
    <form id="Submitting">
        <button type="button" onclick="funcSub()">Submit</button>
    </form>
</div>
</body>

<script language="Javascript">
    var paras = 0;

    function funcPrep(parameters) {
        var functionType = "";
        var radios = document.getElementsByName("funcType");
        if(parameters === 0){
            paras = 0;
            document.getElementById("input1").style.visibility="hidden";
            document.getElementById("input2").style.visibility="hidden";
        }
        else if(parameters === 1){
            paras = 1;
            document.getElementById("input1").style.visibility="visible";
            document.getElementById("input2").style.visibility="hidden";
        }
        else if(parameters === 2){
            paras = 2;
            document.getElementById("input1").style.visibility="visible";
            document.getElementById("input2").style.visibility="visible";
        }
        for(var i = 0; i < radios.length; i++){
            if(radios[i].checked){functionType = radios[i].value;}
        }
        if(functionType == "newCourse"){
            document.getElementById("p1").innerHTML = "Please Enter The Course's Name";
        }
        if(functionType == "delCourse"){
            document.getElementById("p1").innerHTML = "Please Enter The Course's Name";
        }
        if(functionType == "addCourseOutcome"){
            document.getElementById("p1").innerHTML = "Please Enter The Course's Name";
            document.getElementById("p2").innerHTML = "Please Enter The Objective's Name";
        }
        if(functionType == "viewCourse"){
            document.getElementById("p1").innerHTML = "Please Enter The Course's Name";
        }
        if(functionType == "newCat"){
            document.getElementById("p1").innerHTML = "Please Enter The Category Name";
        }
        if(functionType == "delCat"){
            document.getElementById("p1").innerHTML = "Please Enter The Category Name";
        }
        if(functionType == "addCatOutcome"){
            document.getElementById("p1").innerHTML = "Please Enter The Category Name";
            document.getElementById("p2").innerHTML = "Please Enter The Objective's Name";
        }
        if(functionType == "viewCat"){
            document.getElementById("p1").innerHTML = "\"Please Enter The Category Name\"";
        }
        if(functionType == "delProg"){
            document.getElementById("p1").innerHTML = "Please Enter The Program Name";
        }
        if(functionType == "newProge"){
            document.getElementById("p1").innerHTML = "Please Enter The Program Name";
        }
        if(functionType == "addProgCalender"){
            document.getElementById("p1").innerHTML = "Please Enter The Program Name";
            document.getElementById("p2").innerHTML = "Please Enter The Calender Year Id";
        }
        if(functionType == "addProgAcademic"){
            document.getElementById("p1").innerHTML = "Please Enter The Program Name";
            document.getElementById("p2").innerHTML = "Please Enter The Academic Year's Id";
        }
        if(functionType == "viewProg"){
            document.getElementById("p1").innerHTML = "Please Enter The Program Name";
        }
        if(functionType == "newObjective"){
            document.getElementById("p1").innerHTML = "Please Enter The Objective's Name";
            document.getElementById("p2").innerHTML = "Please Enter a Description of the Objective";
        }
        if(functionType == "delObjective"){
            document.getElementById("p1").innerHTML = "Please Enter The Objective's Name";
        }
        if(functionType == "viewObjective"){
            document.getElementById("p1").innerHTML = "Please Enter The Objective's Name";
        }
        if(functionType == "viewObjectiveCourses"){
            document.getElementById("p1").innerHTML = "Please Enter The Objective's Name";
        }
        if(functionType == "newCalender"){
            document.getElementById("p1").innerHTML = "Please Enter The Year";
        }
        if(functionType == "newAcademic"){
            document.getElementById("p1").innerHTML = "Please Enter The Name";
        }
        if(functionType == "delCalender"){
            document.getElementById("p1").innerHTML = "Please Enter The Year";
        }
        if(functionType == "delAcademic"){
            document.getElementById("p1").innerHTML = "Please Enter The Name";
        }
    }
    function funcSub() {
        var parameter1 = document.getElementById("para1").value;
        var parameter2 = document.getElementById("para2").value;
        var radios = document.getElementsByName("funcType");
        var functionType = "";

        for(var i = 0; i < radios.length; i++){
            if(radios[i].checked){functionType = radios[i].value;}
        }
        if(paras === 0){
            $.ajax({
                url: window.location.protocol + "//" + window.location.hostname + "/"+ functionType
            }).then(function(data) {
                alert(data);
            });
        }
        else if(paras === 1){
            $.ajax({
                url: window.location.protocol + "//" + window.location.hostname + "/"+ functionType + "?id=" + parameter1
            }).then(function(data) {
                alert(data);
            });
        }
        else{
            $.ajax({
                url: window.location.protocol + "//" + window.location.hostname + "/"+ functionType + "?id=" + parameter1 + "&name=" + parameter2
            }).then(function(data) {
                alert(data);
            });
        }
    }
</script>
</html>
