<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<meta charset="UTF-8">
	<title>Course Viewer</title>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script th:src="@{/js/address.js}"></script>
</head>
<body>
<div id="RadioForm">
	Select a search method.
	<form id="radioSet">
		<input type="radio" name="SearchType" value="prog" onClick="progSearch()">Search by Program<br>
		<input type="radio" name="SearchType" value="course" onClick="courseSearch()">Search by Course<br>
		<input type="radio" name="SearchType" value="cat" onClick="catSearch()">Search by Category<br>
	</form>
</div>

<div id="searchForm">
	<form id="varSearch">
		<label id="lab">Program name: </label>
		<input type="text" id="varia" name="progName" value="Sample text">
	</form>
</div>

<div id="YearForm" style="visibility:hidden">
	<form id="YearSearch">
		Year: <input type="text" name="yearVal" value="1"><br>
	</form>
</div>

<div id="SubForm">
	<form id="Submitting">
		<button type="button" onclick="searchFunc()">Search</button>
	</form>
</div>

<div>
    <p class="courseInfo">CourseList contains: </p>
</div>

<div id="AdminForm">
	<form id="Adminlogon">
		<input type="text" id="password" value="password">
		<button type="button" onclick="logFunc()">Admin Login</button>
	</form>
</div>
</body>

<script language="Javascript">
    function progSearch() {
        document.getElementById('lab').innerHTML = 'Program Name: ';
        document.getElementById("YearForm").style.visibility="hidden";
    }
    function yearSearch() {
        document.getElementById('lab').innerHTML = 'Program Name: ';
        document.getElementById("YearForm").style.visibility="visible";
    }
    function courseSearch() {
        document.getElementById('lab').innerHTML = 'Course Name: ';
        document.getElementById("YearForm").style.visibility="hidden";
    }
    function catSearch() {
        document.getElementById('lab').innerHTML = 'Category Name: ';
        document.getElementById("YearForm").style.visibility="hidden";
    }

    function searchFunc() {
        var radios = document.getElementsByName("SearchType");

		if(radios[0].checked){alert(window.location.protocol + "//" + window.location.hostname + "/viewCourse?id=" + document.getElementById("varia").value)}
		else if(radios[1].checked){location.href= window.location.protocol + "//" + window.location.hostname + "/viewCourse?id=" + document.getElementById("varia").value}
		else if(radios[2].checked){location.href= window.location.protocol + "//" + window.location.hostname + "/viewCategory?id=" + document.getElementById("varia").value}
		else{alert("Please select a search type.");}
    }

    function logFunc() {
        var password = document.getElementById("password").value;
        if(password == "IAmAdmin"){location.href= "admin"}
        else{alert("THERE WILL BE CONSEQUENCES!");}
    }
</script>

<!--<input type="radio" name="SearchType" value="year" onClick="yearSearch()">Search Program by Year-->

</html>