<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Address Book</title>
</head>
<body>
<div th:fragment="idEntryForm">
	<script>
		$("form").submit(function(e) {
			//e.preventDefault();
			//e.returnValue = false;
			console.log("Whoa! Force");

			// do things
		});
	</script>
	Please enter the address book number you wish to view.
	<form id="submitButton" action="/">
		<input type="text" name="bookID">
		<input type="submit" value="Submit">
	</form>
</div>
<div id="results">
</div>
</body>
</html>